.user-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.card {
    width: 400px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5161ce !important;
    padding: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    width: 100%;
}

.fa {
    margin-right: 5px;
}
